﻿@model IEnumerable<string>

@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Moderation panel</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                <label class="control-label">Streamer</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var streamer in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(streamer => streamer)
                </td>
                <td>
                    @Html.ActionLink("Switch", "Switch", new { streamer = streamer })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
