﻿@model IEnumerable<OmniscienceBotCore.Models.AdminPanelSettings>

@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Admin Panel</h1>
<hr />
<p>
    <a asp-action="Create">Add user</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Channel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(c=>c.Channel))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Channel)
                </td>
                <td>
                    @Html.ActionLink("Switch", "Switch", new { channelToSwitch = item.Channel })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
