﻿@model OmniscienceBotCore.Models.ModeratorsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Moderators</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModName" class="control-label"></label>
                <input asp-for="ModName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Scopes" class="control-label"></label>
                <select asp-for="SelectedScopes" asp-items="Model.Scopes" class="form-control" style="overflow:auto;"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

