﻿@model OmniscienceBotCore.Models.ModeratorsViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChannelModerators</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scopes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scopes)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ModName" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
