﻿@model IEnumerable<OmniscienceBotCore.Models.EntityChange>

@{
    ViewData["Title"] = "Changelog";
}

<h1>Changelog</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Editor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntityNewJson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Editor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntityNewJson)
                </td>
                <td>
                    @if (item.EntityNewJson != "Removed.")
                    {
                        @Html.ActionLink("Restore", "Restore", new { id = item.Id }) <text> | </text> @Html.ActionLink("Remove log", "Remove", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
