<template lang="pug">
  li
    //- Choose option ----------------------------------------------------------
    .form-row.align-items-center.mb-2
      .form-group.col-auto.mb-0
        .custom-control.custom-checkbox
          input.custom-control-input(
            type="checkbox"
            :id="uniqueID"
            v-model="option.model.inversion"
          )
          label.custom-control-label.no-select(
            :for="uniqueID"
            :title="translations.ui.conditions.inversion"
            v-text="'!='"
          )
      .form-group.col.mb-0
        select.custom-select.custom-select-sm(v-model="conditionSelect")
          option(
            v-for="(model, idx) in availableModels"
            :key="idx"
            :value="model.name"
            v-text="model.text"
          )
    //- Model type 'input' view ------------------------------------------------
    .form-row.align-items-center(v-if="!isEmpty && option.model.type === 'input'")
      .form-group.col-12.mb-2
        input.form-control.form-control-sm(
          type="text"
          v-model="option.model.value"
          :placeholder="translations.conditions[option.name].placeholder"
        )
    //- Model type 'select' view -----------------------------------------------
    .form-row.align-items-center(v-if="!isEmpty && option.model.type === 'select'")
      .form-group.col-12.mb-2
        select.custom-select.custom-select-sm(v-model="option.model.value")
          option(
            v-for="(opt, idx) in option.model.options"
            :key="idx"
            :value="opt"
            v-text="translations.conditions[option.name].options[opt]"
          )
    //- Subs -------------------------------------------------------------------
    ul(v-if="hasSubs")
      ConditionsOption(
        v-for="(sub, idx) in option.model.subs"
        :key="idx"
        :option="sub"
        :parent="option.model"
        :selfIdx="idx"
        :prototypes="prototypes"
        :translations="translations"
        :depth="depth + 1"
        @choose-conditions-option="$emit('choose-conditions-option', $event)"
      )
</template>

<script>
export default {
  name: 'ConditionsOption',
  // Props ---------------------------------------------------------------------
  props: {
    // Passed actual option
    option: {
      type: Object
    },
    // Passed conditions prototypes
    prototypes: {
      type: Object
    },
    // Passed conditions translations
    translations: {
      type: Object
    },
    // Parent
    parent: {
      type: [Object, null]
    },
    // Self idx
    selfIdx: {
      type: [Number, null]
    },
    // Depth
    depth: {
      type: Number
    }
  },
  // Created -------------------------------------------------------------------
  created () {
    this.$root.addToCondsOptsList(this.globalSelfID, this.depth)
  },
  // Destroyed -----------------------------------------------------------------
  destroyed () {
    this.$root.rmFromCondsOptsList(this.globalSelfID)
  },
  // Computed ------------------------------------------------------------------
  computed: {
    // Global self ID
    globalSelfID () {
      return `opt-${this.depth}-${this.selfIdx ? this.selfIdx : 0}`
    },
    // Available models
    availableModels () {
      let names = Object.keys(this.prototypes.models)
      // Check depth limit
      if (this.$root.depth === this.depth && this.depth >= this.prototypes.depthLimit) {
        names = names.filter(i => {
          return this.prototypes.models[i].type !== 'group'
        })
      }
      let models = names.map((key) => {
        return {
          name: key,
          text: this.translations.conditions[key].name
        }
      })
      if (this.isEmpty) {
        models.unshift({
          name: 'empty',
          text: this.translations.ui.conditions.empty
        })
      } else {
        models.push({
          name: 'delete',
          text: this.translations.ui.conditions.delete
        })
      }
      return models
    },
    // Is empty
    isEmpty () {
      return !(this.option.name in this.prototypes.models)
    },
    // Condition select
    conditionSelect: {
      get () {
        return this.option.name
      },
      set (value) {
        this.$emit('choose-conditions-option', {
          option: this.option,
          value: value,
          parent: this.parent,
          selfIdx: this.selfIdx
        })
      }
    },
    // Has subs
    hasSubs () {
      return this.option.model && this.option.model.subs
    },
    // Unique ID
    uniqueID () {
      return this.option.name + '-' + Math.floor(Math.random() * 10000)
    }
  }
}
</script>
