<template lang="pug">
  li.mb-2
    .form-row.mb-2: .form-group.col.mb-0
      select.custom-select.custom-select-sm(v-model="methodSelect")
        option(
          v-for="(model, idx) in availableModels"
          :key="idx"
          :value="model.name"
          v-text="model.text"
        )
    //- Model type 'textarea' view ---------------------------------------------
    .form-row.align-items-center(v-if="!isEmpty && option.model.type === 'textarea'")
      .form-group.col-12.mb-2
        textarea.form-control.form-control-sm(
          v-model="option.model.value"
          rows="3"
          :placeholder="translations.methods[option.name].placeholder"
        )
        hr.mb-0
</template>

<script>
export default {
  name: 'MethodsOption',
  // Props ---------------------------------------------------------------------
  props: {
    // Passed actual option
    option: {
      type: Object
    },
    // Passed conditions prototypes
    prototypes: {
      type: Object
    },
    // Passed conditions translations
    translations: {
      type: Object
    },
    // Self idx
    selfIdx: {
      type: Number
    }
  },
  // Computed ------------------------------------------------------------------
  computed: {
    // Available models
    availableModels () {
      let models = Object.keys(this.prototypes.models).map((key) => {
        return {
          name: key,
          text: this.translations.methods[key].name
        }
      })
      if (this.isEmpty) {
        models.unshift({
          name: 'empty',
          text: this.translations.ui.methods.empty
        })
      } else {
        models.push({
          name: 'delete',
          text: this.translations.ui.methods.delete
        })
      }
      return models
    },
    // Is empty
    isEmpty () {
      return !(this.option.name in this.prototypes.models)
    },
    // Method select
    methodSelect: {
      get () {
        return this.option.name
      },
      set (value) {
        this.$emit('choose-methods-option', {
          option: this.option,
          value: value,
          selfIdx: this.selfIdx
        })
      }
    }
  }
}
</script>
