﻿@model OmniscienceBotCore.Models.Counter

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Counter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HandleMode" class="control-label"></label>
                <select asp-for="HandleMode" class="form-control" asp-items="Html.GetEnumSelectList<OmniscienceBotCore.Models.HandleMode>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="TextToFind" class="control-label"></label>
                <input asp-for="TextToFind" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="AnswerPattern" class="control-label"></label>
                <input asp-for="AnswerPattern" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
