﻿@model OmniscienceBotCore.Models.Counter

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Counter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HandleMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HandleMode)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TextToFind)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextToFind)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ResponseMode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ResponseMode)
            </dd>*@
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ResponseParams)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ResponseParams)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerPattern)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnswerPattern)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-key="@Model.Id">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
