﻿@model IEnumerable<OmniscienceBotCore.Models.Counter>

@{
    ViewData["Title"] = "Index";
}

<h1>Counters</h1>

<p>
    <a asp-action="Create">Create New Counter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HandleMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextToFind)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.ResponseMode)
            </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.ResponseParams)
            </th>*@

            <th>
                @Html.DisplayNameFor(model => model.AnswerPattern)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HandleMode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextToFind)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.ResponseMode)
            </td>*@
                @*<td>
            @Html.DisplayFor(modelItem => item.ResponseParams)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.AnswerPattern)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    <text> | </text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    @if (User.IsInRole("Admin") || User.IsInRole("Streamer"))
                    {
                        <text> | </text>
                        @Html.ActionLink("Changelog", "Changelog", "ChangelogHandling", new { id = item.Id.ToString(), entityName = "Counter" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
