<template lang="pug">
  form#vue-app.container(
    @submit.prevent="formSubmit"
    @reset.prevent="formReset"
  )
    //- pre(v-text="config? config.options : ''")
    //- Utils ------------------------------------------------------------------
    .row.justify-content-between.align-items-center.mb-3.utils(v-if="isLoaded")
      //- Enabled toggle
      .col-auto.enabled-toggle
        .custom-control.custom-switch
          input.custom-control-input(
            type="checkbox"
            id="enabled-toggle"
            v-model="config.options.others.enabled"
          )
          label.custom-control-label.no-select(
            for="enabled-toggle"
            v-text="language.ui.others.enabled"
          )
      //- Language select
      .col-auto.language
        select.custom-select.custom-select-sm(v-model="form.language")
          option(
            v-for="(val, name) in config.translations"
            :value="name"
            v-text="name"
            :disabled="!val"
          )

    //- Conditions -------------------------------------------------------------
    .row.conditions(v-if="isLoaded")
      .col-12.d-flex.justify-content-between.align-items-center.mb-3
        h4.mb-0(v-text="language.ui.conditions.heading")
        span.d-block.badge.badge-primary(v-text="conditionsDepthLimit")
      .col-12
        ul.root-list: ConditionsOption(
          :option="config.options.conditions"
          :prototypes="conditionsPrototypes"
          :translations="language"
          :parent="null"
          :selfIdx="null"
          :depth="1"
          @choose-conditions-option="chooseConditionsOption"
        )

    //- Methods ----------------------------------------------------------------
    .row.mb-4.methods(v-if="isLoaded")
      .col-12.d-flex.justify-content-between.align-items-center.mb-3
        h4.mb-0(v-text="language.ui.methods.heading")
        span.d-block.badge.badge-primary(v-text="methodsCountLimit")
      .col-12
        ul: MethodsOption(
          v-for="(option, index) in config.options.methods"
          :key="index"
          :option="option"
          :prototypes="methodsPrototypes"
          :translations="language"
          :selfIdx="index"
          @choose-methods-option="chooseMethodsOption"
        )

    //- Alerts -----------------------------------------------------------------
    .row(v-if="form.msg"): .col-12.mb-4
      .alert.alert-warning.alert-dismissible
        div(v-html="form.msg")
        button.close(type="button" data-dismiss="alert" aria-label="Close" @click="closeAlert")
          span(aria-hidden="true") &times;
    //- Actions ----------------------------------------------------------------
    .row.justify-content-between.actions(v-if="isLoaded")
      //- Reset button
      .col-auto: button.btn.btn-secondary(
          type="reset"
          :disabled="form.isLoading"
          v-text="language.ui.resetButton.text"
        )
      //- Submit button
      .col-auto: button.btn.btn-primary(
          type="submit"
          :disabled="form.isLoading"
        )
          span.spinner-border.spinner-border-sm.mr-2(
            v-if="form.isLoading"
            role="status"
            aria-hidden="true"
          )
          | {{ submitButtonText }}
</template>

<script>
/* eslint-disable */
    import ConditionsOption from '@/components/ConditionsOption.vue'
    import MethodsOption from '@/components/MethodsOption.vue'

    export default {
        name: 'App',
        // Components ----------------------------------------------------------------
        components: {
            ConditionsOption,
            MethodsOption
        },
        // Data ----------------------------------------------------------------------
        data() {
            return {
                config: null,
                form: {
                    isLoading: false,
                    language: 'ru',
                    msg: ''
                },
                isLoaded: false
            }
        },
        // Created -------------------------------------------------------------------
        created() {
            this.init()
        },
        // Computed ------------------------------------------------------------------
        computed: {
            // Language
            language() {
                return this.config ? this.config.translations[this.form.language] : ''
            },
            // Conditions prototypes
            conditionsPrototypes() {
                return this.config ? this.config.prototypes.conditions : null
            },
            // Methods prototypes
            methodsPrototypes() {
                return this.config ? this.config.prototypes.methods : null
            },
            // Submit button text
            submitButtonText() {
                return this.form.isLoading
                    ? this.language.ui.submitButton.loadingText
                    : this.language.ui.submitButton.text
            },
            // Methods count limit
            methodsCountLimit() {
                let curCount = this.config.options.methods.length
                if (this.config.options.methods[curCount - 1].name === 'empty') {
                    curCount--
                }
                return `${curCount} / ${this.methodsPrototypes.countLimit}`
            },
            // Conditions depth limit
            conditionsDepthLimit() {
                let curCount = this.$root.depth
                return `${curCount} / ${this.conditionsPrototypes.depthLimit}`
            }
        },
        // Methods -------------------------------------------------------------------
        methods: {
            // Init
            async init() {
                if (await this.fetchFromServer()) {
                    this.isLoaded = true
                }
            },
            // Form reset
            formReset() {
                if (this.form.isLoading) return // Prevent while loading
                if (confirm(this.language.ui.resetButton.resetConfirm)) {
                    this.$set(this.config.options, 'conditions', {
                        name: 'empty',
                        model: {
                            inversion: false
                        }
                    })
                    this.$set(this.config.options, 'methods', [{ name: 'empty' }])
                }
            },
            // Form submit
            async formSubmit() {
                if (this.form.isLoading) return // Prevent while loading
                this.form.isLoading = true
                if (await this.setToServer())
                    window.location.replace(`/Events#${this.config.key}`)
                this.form.isLoading = false
            },
            // Fetch from server
            fetchFromServer() {
                return this.$axios({
                    method: 'get',
                    url: this.$appCfg.url
                }).then(({ data }) => {
                    this.form.msg = data.msg
                    if (data.status === 'success') {
                        this.config = {
                            key: data.data.key,
                            options: data.data.options,
                            prototypes: data.prototypes,
                            translations: data.translations
                        }
                        return true
                    } else {
                        return false
                    }
                }).catch(e => {
                    this.form.msg = e
                    return false
                })
            },
            // Set to server
            setToServer() {
                return this.$axios({
                    method: 'post',
                    url: this.$appCfg.url,
                    data: JSON.stringify({
                        key: this.config.key,
                        options: this.config.options
                    })
                }).then(({ data }) => {
                    this.form.msg = data.msg
                    if (data.status === 'success') {
                        this.config = {
                            key: data.data.key,
                            options: data.data.options,
                            prototypes: data.prototypes,
                            translations: data.translations
                        }
                        return true
                    } else {
                        return false
                    }
                }).catch(e => {
                    this.form.msg = e
                    return false
                })
            },
            // Close alert
            closeAlert() {
                this.form.msg = ''
            },
            // Choose conditions option
            chooseConditionsOption({ option, value, parent, selfIdx }) {
                if (value === 'delete') {
                    if (parent) {
                        this.$delete(parent.subs, selfIdx)
                    } else {
                        option.name = 'empty'
                        let keys = Object.keys(option.model)
                        for (let i = 0; i < keys.length; i++) {
                            if (keys[i] !== 'inversion') {
                                this.$delete(option.model, keys[i])
                            }
                        }
                    }
                } else {
                    option.name = value
                    let model = this.getConditionsModelByName(value)
                    let inversion = option.model.inversion
                    // Check for not empty subs
                    if (!(model.type === 'group' && ('subs' in option.model) && option.model.subs.length > 0)) {
                        this.$set(option, 'model', model)
                        option.model.inversion = inversion
                        // If group type
                        if (model.type === 'group') {
                            // If was group type
                            this.$set(option.model, 'subs', [])
                            option.model.subs.push({
                                name: 'empty',
                                model: {
                                    inversion: false
                                }
                            })
                        }
                    }
                    // Add last empty element
                    if (parent) {
                        if (parent.subs[parent.subs.length - 1].name === 'empty') return
                        parent.subs.push({
                            name: 'empty',
                            model: {
                                inversion: false
                            }
                        })
                    }
                }
            },
            // Choose methods option
            chooseMethodsOption({ option, value, selfIdx }) {
                let totalOptions = this.config.options.methods
                let lastOption = totalOptions[totalOptions.length - 1]
                // If delete action
                if (value === 'delete') {
                    if (totalOptions.length > 1) {
                        totalOptions.splice(selfIdx, 1)
                    } else {
                        option.name = 'empty'
                        this.$delete(option, 'model')
                    }
                } else {
                    option.name = value
                    this.$set(option, 'model', this.getMethodsModelByName(value))
                }
                // Check for last empty option
                if (lastOption.name !== 'empty' && totalOptions.length < this.methodsPrototypes.countLimit) {
                    totalOptions.push({
                        name: 'empty'
                    })
                }
            },
            // Get model by name
            getConditionsModelByName(name) {
                return { ...this.conditionsPrototypes.models[name] }
            },
            // Get methods model by name
            getMethodsModelByName(name) {
                return { ...this.methodsPrototypes.models[name] }
            }
        }
    }
</script>

<style lang="scss">
    #vue-app {
        padding-top: 50px;
        padding-bottom: 50px;

        .no-select {
            user-select: none;
        }
        // Conditions
        .conditions {
            .badge {
                display: block;
                height: 20px;
            }

            ul {
                list-style: none;
                padding-left: 24px;
                position: relative;

                &.root-list {
                    padding: 0;
                }

                &:not(.root-list)::before {
                    content: '';
                    display: block;
                    position: absolute;
                    background: #e6e9ec;
                    width: 1px;
                    top: -8px;
                    bottom: 14px;
                    left: 7px;
                }

                &:not(.root-list)::after {
                    content: '';
                    display: block;
                    position: absolute;
                    background: #e6e9ec;
                    width: 10px;
                    height: 1px;
                    bottom: 14px;
                    left: 7px;
                }
            }
        }
        // Methods
        .methods {
            .badge {
                display: block;
                height: 20px;
            }

            ul {
                list-style: none;
                padding-left: 0;

                li:last-child {
                    hr {
                        display: none;
                    }
                }

                textarea {
                    min-height: 50px;
                    max-height: 100px;
                }
            }
        }
    }
</style>
