﻿@{
    ViewData["Title"] = "Index";
}

<h1>Interactions</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label class="control-label">Text to send: </label>
                <input name="message" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>