﻿@model string
@*https://www.w3schools.com/tags/ref_av_dom.asp*@
<audio id='cmdAudio' controls controlsList="nodownload" autoplay preload='auto' style="height: 30%; vertical-align: sub">
    <source src='~/Data/Sounds/@Model' type='audio/wav'>
</audio>