﻿@using System.Security.Claims;
@using Microsoft.AspNetCore.Http


<!DOCTYPE html>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
<script>
    function fetchdata() {
        $.ajax({
            url: '/_AjaxSoundCommand/IsThereAnything',
            type: 'get',
            dataType: 'text',
            complete: function (response) {
                console.log(response);
                if (response.responseText == '+' && (document.getElementById("cmdAudio") == null || document.getElementById("cmdAudio").ended)) {
                    $("#ajaxTarget").load("/_AjaxSoundCommand/CallAjax");
                }
            }
        });
    }

    //https://www.codeproject.com/Questions/1117942/Play-audio-and-video-file-using-MVC
    //https://forums.asp.net/t/2127539.aspx?How+can+I+play+a+wave+file+in+mvc

</script>

@if (User.IsInRole("Admin") || User.IsInRole("Authorized"))
{
    @*<script>
        $(function () {
            setInterval(fetchdata, 5000);
        });
    </script>*@
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OmniBot</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-dark.css" />
    <meta name="color-scheme" content="light dark">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-dark.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OmniBot</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @{
                            if ((User.IsInRole("Admin") || User.IsInRole("Streamer") || User.IsInRole("Moderator")))
                            {
                                if (!User.IsInRole("Moderator") ||
                                (User.IsInRole("Moderator") &&
                                User.Claims.FirstOrDefault(c => c.Type == "Scopes").Value.Contains("Events")))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Events" asp-action="Index">Events</a>
                                    </li>
                                }
                                if (!User.IsInRole("Moderator") ||
                                (User.IsInRole("Moderator") &&
                                User.Claims.FirstOrDefault(c => c.Type == "Scopes").Value.Contains("Commands")))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Commands" asp-action="Index">Commands</a>
                                    </li>
                                }
                                if (!User.IsInRole("Moderator") ||
                                (User.IsInRole("Moderator") &&
                                User.Claims.FirstOrDefault(c => c.Type == "Scopes").Value.Contains("Pastes")))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Pastes" asp-action="Index">Pastes</a>
                                    </li>
                                }
                                if (!User.IsInRole("Moderator") ||
                                (User.IsInRole("Moderator") &&
                                User.Claims.FirstOrDefault(c => c.Type == "Scopes").Value.Contains("Counters")))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Counters" asp-action="Index">Counters</a>
                                    </li>
                                }
                                if (!User.IsInRole("Moderator") ||
                                (User.IsInRole("Moderator") &&
                                User.Claims.FirstOrDefault(c => c.Type == "Scopes").Value.Contains("StreamAnnouncements")))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="StreamAnnouncements" asp-action="Index">Announcements</a>
                                    </li>
                                }
                                if (!User.IsInRole("Moderator"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Moderators" asp-action="Index">Moderators</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Interactions" asp-action="Index">Interactions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Spotify" asp-action="Index">Spotify</a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            if (User.Identity.IsAuthenticated && (!User.IsInRole("Unauthorized") || !User.IsInRole("Guest")))
                            {
                                if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                {
                                    <li class="nav-item">
                                        <div class="nav-link text-light">Currently on: @User.Identity.Name</div>
                                    </li>
                                }
                                if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="AdminPanel" asp-action="Index">AdminPanel</a>
                                    </li>
                                }

                                if (!User.IsInRole("Moderator"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Moderation" asp-action="Index">Moderation</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="ChannelSettings" asp-action="Index">Settings</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Login">Log in</a>
                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
        <div class="container">
            @*<partial name="_SongRequest"/>*@
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
