﻿@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset='UTF-8' />
        <style type='text/css'>

            .videoWrapper {
            }

                .videoWrapper iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
        </style>
    </head>
    <body>*@
<div id="player"></div>

<script>
    var player;
    function fetchsongdata() {
        if (nextID == '')
            $.ajax({
                url: '/_SongRequest/CheckForSong',
                type: 'get',
                dataType: 'text',
                complete: function (response) {
                    if (response.responseText != '')
                        if (currentID == '') {
                            currentID = response.responseText;
                            player.setVideoId(currentID);
                        }
                        else nextID = response.responseText;
                }
            });
    }


    //https://www.codeproject.com/Questions/1117942/Play-audio-and-video-file-using-MVC
    //https://forums.asp.net/t/2127539.aspx?How+can+I+play+a+wave+file+in+mvc

    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var autoPlay = true;
    var quality = "default";
    var currentID = 'E7JzX4CHJYg';
    var nextID = '';

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '400',
            width: '400',
            videoId: currentID,
            //suggestedQuality: "hd720",
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange,
                'onPlaybackQualityChange': onPlayerPlaybackQualityChange
            }
        });
    }

    function onPlayerReady(event) {
        //player.playVideo();
        setInterval(fetchsongdata, 5000);
    }

    function onPlayerStateChange(event) {
        console.log(event.data);
        if (event.data == YT.PlayerState.ENDED) {
            if (nextID == '')
                currentID = '';
            else {
                currentID = nextID;
                nextID = '';
                setVideoId(currentID);
                //player.playVideo();
            }
        }
    }

    function onPlayerPlaybackQualityChange(event) {
    }

    function setPlayerState(state) {
        if (state == "ended") player.stopVideo();
        else if (state == "start") player.playVideo();
        else if (state == "pause") player.pauseVideo();
    }

    function setVolume(volume) {
        player.setVolume(volume);
    }

    function setVideoId(videoId) {
        if (autoPlay) player.loadVideoById(videoId, 0, quality);
        else player.cueVideoById(videoId, 0, quality);
    }

    function setQuality(quality) {
        player.setPlaybackQuality(quality);
    }
</script>
@*</body>
    </html>*@