﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@if (Model.Channel != null)
{
    <p>
        <strong>Channel:</strong> <code>@Model.Channel</code>
    </p>
}

@if (Model.Message != null)
{
    <p>
        <strong>Message:</strong> <code>@Model.Message</code>
    </p>
}
