﻿@*@model string*@

@*@if (Model != null && Model != "")*@
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ChannelSettings" asp-action="Index">Settings</a>
    </li>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
