﻿@model IEnumerable<OmniscienceBotCore.Models.Paste>

@{
    ViewData["Title"] = "Index";
}

<h1>Pastes</h1>

<p>
    <a asp-action="Create">Create New Paste</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    <text> | </text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    @if (User.IsInRole("Admin") || User.IsInRole("Streamer"))
                    {
                        <text> | </text>
                        @Html.ActionLink("Changelog", "Changelog", "ChangelogHandling", new { id = item.Id.ToString(), entityName = "StreamAnnouncement" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
