﻿@model OmniscienceBotCore.Models.Events.Event

@{
    ViewData["Title"] = "Import";
}

<h1>Import</h1>

<h3>Get the content of the Json field to share your amazing stuff!</h3>
<div>
    <h4>Event</h4>
    <hr />
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Json" class="control-label"></label>
                <input asp-for="Json" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <input type="submit" value="Back" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
