﻿@model IEnumerable<OmniscienceBotCore.Models.EventsViewModel>

@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>

<p>
    <a asp-action="ToGlobalEvents">To Global Events</a>
    <br />
    <a asp-action="Create">Create</a> | <a asp-action="Export">Export</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Conditions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id=@item.Id>
                <td>
                    @Html.Raw(item.Conditions.Replace(Environment.NewLine, "<br/>"))
                </td>
                <td>
                    @Html.Raw(item.Actions.Replace(Environment.NewLine, "<br/>"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Import", "Import", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    @if (User.IsInRole("Admin") || User.IsInRole("Streamer"))
                    {
                        <text> | </text>
                        @Html.ActionLink("Changelog", "Changelog", "ChangelogHandling", new { id = item.Id.ToString(), entityName = "Event" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
