﻿@model OmniscienceBotCore.Models.EventsExportViewModel

@{
    ViewData["Title"] = "Export";
}

<h1>Export</h1>

<h3>Put there the shared Json string you got to create a new shiny Event!</h3>
<div>
    <h4>Event</h4>
    <form asp-action="Export">
        <div class="form-group">
            <label asp-for="Json" class="control-label"></label>
            <input asp-for="Json" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Export" class="btn btn-primary" />
        </div>
    </form>

    <a asp-action="Index">Back to List</a>
</div>
