﻿@model IEnumerable<OmniscienceBotCore.Models.EventsViewModel>

@{
    ViewData["Title"] = "Events";
}

<h1>Global Events</h1>

<p>
    <a asp-action="Create">Create</a> | <a asp-action="Export">Export</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conditions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscribed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.Raw(item.Conditions.Replace(Environment.NewLine, "<br/>"))
                @*@Html.DisplayFor(modelItem => item.Conditions)*@
            </td>
            <td>
                @Html.Raw(item.Actions.Replace(Environment.NewLine, "<br/>"))
                @*@Html.DisplayFor(modelItem => item.Actions)*@
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Subscribed)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink(item.Subscribed ? "Unsub" : "Sub", item.Subscribed ? "Unsub" : "Sub", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Import", "Import", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
