﻿@model OmniscienceBotCore.Models.SettingsMain

@{
    ViewData["Title"] = "Channel params";
}

<h1>Settings</h1>

<h4>ChannelSettings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Channel" class="control-label"></label>
                <input asp-for="Channel" class="form-control" readonly="readonly" />
                <span asp-validation-for="Channel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscordServerName" class="control-label"></label>
                <br />
                <a href="https://discord.com/api/oauth2/authorize?client_id=537657015414161419&permissions=139855285248&scope=bot" target="_blank" rel="noopener noreferrer">Click to add the bot to your discord</a>
                <input asp-for="DiscordServerName" class="form-control" />
                <span asp-validation-for="DiscordServerName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SilenceMode" /> @Html.DisplayNameFor(model => model.SilenceMode)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FollowReactionFormat" class="control-label"></label>
                <textarea rows="3" asp-for="FollowReactionFormat" class="form-control" placeholder="A new follower @@source !">@Model.FollowReactionFormat</textarea>
                <span asp-validation-for="FollowReactionFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewSubReactionFormat" class="control-label"></label>
                <textarea rows="3" asp-for="NewSubReactionFormat" class="form-control" placeholder="A new sub @@source !">@Model.NewSubReactionFormat</textarea>
                <span asp-validation-for="NewSubReactionFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReSubReactionFormat" class="control-label"></label>
                <textarea rows="3" asp-for="ReSubReactionFormat" class="form-control" placeholder="Your (@@source) @@streak dedication will be rewarded...">@Model.ReSubReactionFormat</textarea>
                <span asp-validation-for="ReSubReactionFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiftedSubReactionFormat" class="control-label"></label>
                <textarea rows="3" asp-for="GiftedSubReactionFormat" class="form-control" placeholder="Yes-yes-yes, @@source, just as @@gifter deserves!">@Model.GiftedSubReactionFormat</textarea>
                <span asp-validation-for="GiftedSubReactionFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PredictionStartFormat" class="control-label"></label>
                <textarea rows="3" asp-for="PredictionStartFormat" class="form-control" placeholder="Loot suda @@title">@Model.PredictionStartFormat</textarea>
                <span asp-validation-for="PredictionStartFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PredictionCancelFormat" class="control-label"></label>
                <textarea rows="3" asp-for="PredictionCancelFormat" class="form-control" placeholder="Someone broke the @@title!">@Model.PredictionCancelFormat</textarea>
                <span asp-validation-for="PredictionCancelFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CancelFollowerModeOnRaid" class="control-label"></label>
                <input asp-for="CancelFollowerModeOnRaid" class="form-control" />
                <span asp-validation-for="CancelFollowerModeOnRaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoutoutOnRaid" class="control-label"></label>
                <input asp-for="ShoutoutOnRaid" class="form-control" />
                <span asp-validation-for="ShoutoutOnRaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
