﻿@model OmniscienceBotCore.Models.StreamAnnouncement

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Announcement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StreamToAnnounce" class="control-label"></label>
                <input asp-for="StreamToAnnounce" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="DiscordChannel" class="control-label"></label>
                <input asp-for="DiscordChannel" class="form-control" required placeholder="Channel of the specified server for the announcement"/>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control" rows="5" required placeholder="May contain raw text for discord with any emoji etc"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="GracePeriod" class="control-label"></label>
                <input asp-for="GracePeriod" class="form-control" required placeholder="Time in mins between to starts of the stream, 0 means no time check"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
