﻿@model OmniscienceBotCore.Models.StreamAnnouncement

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Announcement</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreamToAnnounce)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreamToAnnounce)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-Id="@Model.Id">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
