﻿@model OmniscienceBotCore.Models.StreamAnnouncement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Announcement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none">
                <label asp-for="Channel" class="control-label"></label>
                <input asp-for="Channel" class="form-control" readonly="readonly" value="@Model.Channel"/>
                <span asp-validation-for="Channel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreamToAnnounce" class="control-label"></label>
                <input asp-for="StreamToAnnounce" class="form-control" required value="@Model.StreamToAnnounce" />
            </div>
            <div class="form-group">
                <label asp-for="DiscordChannel" class="control-label"></label>
                <input asp-for="DiscordChannel" class="form-control" required value="@Model.DiscordChannel" />
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control" rows="5" required placeholder="May contain raw text for discord with any emoji etc">@Model.Text</textarea>
            </div>
            <div class="form-group">
                <label asp-for="GracePeriod" class="control-label"></label>
                <input asp-for="GracePeriod" class="form-control" required placeholder="Time in mins between to starts of the stream, 0 means no time check" value="@Model.GracePeriod" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
