﻿@model IEnumerable<OmniscienceBotCore.Models.StreamAnnouncement>

@{
    ViewData["Title"] = "Index";
}

<h1>Announcements</h1>

<p>
    <a asp-action="Create">Create New Announcement</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StreamToAnnounce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastTimeStopped)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StreamToAnnounce)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastTimeStopped)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    <text> | </text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    @if (User.IsInRole("Admin") || User.IsInRole("Streamer"))
                    {
                        <text> | </text>
                        @Html.ActionLink("Changelog", "Changelog", "ChangelogHandling", new { id = item.Id.ToString(), entityName = "StreamAnnouncement" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
