﻿@model OmniscienceBotCore.Models.Commands.TextCommand

@{
    ViewData["Title"] = "EditTextCommand";
}

<h1>Edit</h1>

<h4>TextCommand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTextCommand" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none">
                <label asp-for="Channel" class="control-label"></label>
                <input asp-for="Channel" class="form-control" readonly="readonly" value="@Model.Channel"/>
                <span asp-validation-for="Channel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Key" class="control-label"></label>
                <input asp-for="Key" class="form-control" value="@Model.Key" />
                <span asp-validation-for="Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control" rows="5">@Model.Text</textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommandHandler" class="control-label"></label>
                <select asp-for="CommandHandler" class="form-control" asp-items="Html.GetEnumSelectList<OmniscienceBotCore.Models.Commands.CommandHandler>()" onchange="OnChange()" id="commandHandler">@Model.CommandHandler</select>
                <span asp-validation-for="CommandHandler" class="text-danger"></span>
            </div>

            <div class="form-group" id="twitchRole">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control" asp-items="Html.GetEnumSelectList<OmniscienceBotCore.Models.Commands.TwitchChannelRole>()">@Model.Role</select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group" id="twitchPeriod">
                <label asp-for="Period" class="control-label"></label>
                <input asp-for="Period" class="form-control" value="@Model.Period" />
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>

            <div class="form-group" id="discordChannelName">
                <label asp-for="ChannelName" class="control-label"></label>
                <input asp-for="ChannelName" class="form-control" placeholder="Empty means anywhere visible for the bot" value="@Model.ChannelName" />
                <span asp-validation-for="ChannelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function OnChange() {
            const val = document.getElementById("commandHandler").value
            const twitchRole = document.getElementById("twitchRole");
            const twitchPeriod = document.getElementById("twitchPeriod");
            const discordChannelName = document.getElementById("discordChannelName");
            if (val == 0 || val == 2) {
                twitchRole.style.display = "block"
                twitchPeriod.style.display = "block"
            }
            else {
                twitchRole.style.display = "none"
                twitchPeriod.style.display = "none"
            }

            if (val == 1 || val == 2) {
                discordChannelName.style.display = "block"
            }
            else {
                discordChannelName.style.display = "none"
            }
        }
        OnChange()
    </script>
}