﻿@model IEnumerable<OmniscienceBotCore.Models.Commands.TextCommand>

@{
    ViewData["Title"] = "Index";
}

<h1>Commands</h1>

<p>
    <a asp-action="CreateTextCommand">Create New TextCommand</a>
</p>

<p>
    Non-Timer commands
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommandHandler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(c => !c.Periodic).OrderBy(c => c.Key))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommandHandler)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditTextCommand", new { id = item.Id })
                    <text> | </text>
                    @Html.ActionLink("Delete", "DeleteTextCommand", new { id = item.Id })
                    @if (User.IsInRole("Admin") || User.IsInRole("Streamer"))
                    {
                        <text> | </text>
                        @Html.ActionLink("Changelog", "Changelog", "ChangelogHandling", new { id = item.Id.ToString(), entityName = "TextCommand" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    Timer commands
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommandHandler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(c => c.Periodic).OrderBy(c => c.Key))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommandHandler)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Period)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditTextCommand", new { id = item.Id })
                    <text> | </text>
                    @Html.ActionLink("Delete", "DeleteTextCommand", new { id = item.Id })
                    @if (User.IsInRole("Admin") || User.IsInRole("Streamer"))
                    {
                        <text> | </text>
                        @Html.ActionLink("Changelog", "Changelog", "ChangelogHandling", new { id = item.Id.ToString(), entityName = "TextCommand" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>